img{border:0px}
.top-bar-bg{background:#eee;width:100%;height:35px;border-bottom:1px solid #e1e1e1;display:inline-block;}
.top-bar{width:1100px;margin:0 auto;line-height:35px;font-size:12px;}
/*.top-bar a{width:100%;}*/
.left-wrap li{float:left;text-align: center;margin-left:16px; position:relative;}
.left-wrap li:first-child{margin-left: inherit;}
.left-wrap a{padding:auto 16px;}
.right-wrap li{float:right;position: relative;width:70px;text-align: center;}
.right-wrap li ul{width:100%;height:auto;display:none;background:#eee;position: absolute;top: 34px;z-index:99;}
.right-wrap li ul li{float:none;margin:0;}
.right-wrap li:hover ul{display:block;}
.right-wrap .flod-list  li:hover{background:#fa0000;}
.right-wrap .flod-list  li:hover a{color:#fff;}
#a-red{display: block;height:35px;background:#bd0000;color:#fff;width:50px;}
.index-logo,.index-search{float:left;margin-right:13px;}
.index-logo{padding-top:7px;}
.logo-section{width:1100px;}
.logo-section li{float:left;}
.index-serch-clssify{display:inline-block;}
.index-serch-clssify li{float:left;line-height:14px;padding:0 12px;font-size:14px;border-right:1px solid #999;margin-bottom:5px;}
.index-serch-clssify li:first-child{padding-left:2px;}

.index-search-ipt{width:406px;height:40px; border-radius:5px; -webkit-border-radius:5px; background:#BD0000;line-height: 38px;border-left:2px solid #BD0000;}
#index-s-ipt{-webkit-background:#fff url(../../images/mirror.png)no-repeat 15px center; background:#fff url(../../images/mirror.png)no-repeat 15px center; box-sizing: border-box;border:none;height:36px;width:326px;outline: none;-webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; padding-left:50px;}
#index-s-btn{width:68px;height:38px;-webkit-border-radius:5px; border-radius:5px; background:#BD0000;border:none;font-size:16px;color:#fff;outline: none;cursor:pointer;}


.index-contrct-us{width:250px;height:60px;background:url(../../images/custom-service.png) no-repeat center left;box-sizing: border-box;float:right;position:relative;z-index:0;}
.index-contrct-us a{position:absolute;right:0px;}
.index-contrct-us a:first-child{top:0px;}
.index-contrct-us a:last-child{bottom:0px;}
/*.index-contrct-us img{margin-bottom:10px;}*/
.index-nav-wrap{width:100%;}
.index-main-nav-bg{width:100%;height:38px;background:#ff5000;display:inline-block;}
.index-main-nav{width:1100px;margin:0 auto;line-height: 38px;font-size:14px;}
.index-main-nav a{display:block;color:#fff;height:38px;padding:0 20px;background:url(../../images/nav-line.png)no-repeat center right;}
.index-main-nav li{float:left;}
#active{background:#fa0000 ;}
a.no-line{background:inherit;}
.index-secondary-wrap{margin-bottom:5px;}
.index-secondary-nav,.index-secondary-nav1{width:1100px;height:30px;line-height:30px;background:#f9f9f9;margin:0 auto;}
.index-secondary-nav,.index-secondary-nav1:first-child{border-bottom:1px solid #bd0000;}
.index-secondary-nav li{float:left;font-size:13px;padding-left:2.2%;text-align: center;}
.index-secondary-nav1 li{float:left;font-size:13px;padding-left:1.9%;text-align: center;}
.index-secondary-nav a{display:inline-block;}
.index-secondary-nav1 a{display:inline-block;}
.index-secondary-nav li a:hover{font-size:15px;font-weight:bold;color:#0094de;}
.index-secondary-nav1 li a:hover{font-size:15px;font-weight:bold;color:#0094de;}

#area-h2{background:url(../../images/area.png)no-repeat center left;width:64px;height:28px;}
.index-content-wrap{width:1100px;margin:0 auto;}
.ad-place li{float:left;margin:0 5px 5px 0;}
.ad-place li:last-child{margin:0 0px 5px 0;}
.ad-place #pic .carousel-li{width:320px;height:205px;}
.ad-place .top-first-line{width:136px;height:205px;}
.ad-place .top-middle-lines{width:183px;height:100px;}
.ad-place .top-bottom-line{width:246px;height:100px;}
#banner{width:864px; height:320px; float:left; position:relative;text-align:center;}
#banner img{position:absolute; top:0; left:0;}
#banner p{position:absolute; bottom:6px; height:16px; background:rgba(255,255,255,0.50); border-radius:8px;padding-right:5px;display:inline;}/*width:100px;*/
#banner p font{width:11px; height:11px; border-radius:5px; background:#fff; margin-left:9px; display:block; float:left; margin-top:3px;}
#banner .se{background:#fa0001;}

.user-login{float:right;width:230px;height:320px;background:#f7f7f9;}
.user-message{width:204px;margin:0 auto;padding:10px 0 8px;position:relative;}
.user-message p{background:url(../../images/Company/user-img.png)15px 0 no-repeat;padding-left:30px;height:48px;line-height:20px;text-align: center;margin-bottom: 10px;overflow: hidden;background-size:contain;}
.user-message p span{display:block;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.user-message .user-message-ipt{width:156px;height:35px;border-radius:10px;margin:14px auto 8px;cursor:pointer;background-color:#fef793;background-position:20px center;outline:none;background-repeat:no-repeat;background-size:22px 28px;font-size:14px;color:#555;}
.user-message .user-message-ipt:hover{background-color:#fee000;}
.user-message #user-name { background-image: url(../../images/lock.png); }
.user-message #user-pw { background-image: url(../../images/register.png); }
.login-user{width:81px;height:26px; border:2px solid #ccc;text-align: center;cursor:pointer; background:#f7f7f9; margin-left:8px;}
.login-user:hover{border:2px solid #bd0000}

.user-message img{display:inline-block;position:absolute;top:28px;left:155px;}
.text-wrap{ margin-bottom:5px; width:204px; margin:0 auto;}
.text-wrap h2{font-size:15px;color:#BD0000;font-weight: normal;padding-left:6px;border-top:1px dotted #ddd;margin-bottom:3px;}
.text-wrap p{width:200px;margin:0 auto;font-size:13px;line-height:25px;}
.text-wrap p a:hover{color:#0c95ff;}

.text-wrap .txt-over{display:block;width:85%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.user-vipservice{width:208px;margin:0 auto;overflow:hidden;box-sizing: border-box; padding-top:10px;}
.user-vipservice li{float:left;font-size:13px;line-height:22px;text-align: left;width:69px;}
.user-vipservice li span{color:#bd0000;}
.user-vipservice a img{ padding-left:14px;}
.speed-item{width:1028px; padding-left:71px;height:58px;background:#eee;border:1px solid #e6e6e6; position:relative;overflow:hidden;}
.speed-item li{width:312px;float:left; line-height:28px; padding-left:30px;}
.speed-item li a{font-size:13px; color:#555555;}
.speed-item li span{float:right; padding-right:50px;}
.ad-subregion{width:100%; padding-top:17px;}
.title-div{height:33px; border-bottom:2px solid #bd0000; background:url(../../images/Company/dao.png) 189px 0px no-repeat;}
.title-left{float:left;width:189px;background:#bd0000;}
.title-right{float:left; width:904px;line-height:33px; text-align:right; padding-right:15px; box-sizing:border-box; color:#bd0000;
background:url(../../images/Company/dao-1.png) right no-repeat;}
.title-left h2{font-size:20px;color:#fff;line-height:33px;font-weight: normal;padding-left:40px;}
.title-left h2 a{color:#fff;}
.title-left span{color:#fff;float:left;font-size:28px; width:30px; line-height:33px; padding-left:5px;}
.ad-seats-left{float:left; width:233px; height:299px;}
.ad-seats-right{float:left;width:867px; height:299px;border:1px solid #e6e6e6; border-top:none; margin-right:-1px; margin-left:-1px;
 position:relative;}
.ad-seats-right>li{float:left;width:288px;height:34px; line-height:34px; text-align:center; font-size:18px; border:1px solid #e6e6e6; position:relative; background:#f7f7f9;}
.ad-seats-right .none{border:none; background:none;cursor:pointer;}

.ad-seats-right .ding{ width:796px; height:223px;position:absolute; top:36px; left:1px; padding:12px 40px 18px 29px;}
.ding li{float:left; padding-top:7px;}
.ding .ding_zi{width:390px;}
.ding .ding_zi dt{float:left;width:86px; height:70px; border:1px solid #dddddd;}
.ding .ding_zi dd{ padding-left:100px;}
.ding .ding_zi dd h3 a{font-size:14px; text-align:left; color:#333333; line-height:24px; font-weight:normal; }/*background:url(../../images/Company/vip.png)174px 7px no-repeat;display:block;*/
.ding .ding_zi dd h3 a img{display:inherit;}
.ding .ding_zi dd h3:hover{font-weight:bold; cursor:pointer;}
.ding .ding_zi dd p a{font-size:12px; text-align:left; color:#555555; width:252px; line-height:24px;display:inline-block;padding-right:30px;}
.ding .ding_zi dd p a:hover{color:#0c95ff; cursor:pointer;}

.second_f{background:#0c95ff;}.second_f span{color:#0c95ff}.second_c{border-top:1px solid #0c95ff;}
.third_f{background:#6de5e3;}.third_f span{color:#6de5e3}.third_c{border-top:1px solid #6de5e3;}
.forth_f{background:#ffa17c;}.forth_f span{color:#ffa17c}.forth_c{border-top:1px solid #ffa17c;}
.fifth_f{background:#c586ff;}.fifth_f span{color:#c586ff}.fifth_c{border-top:1px solid #c586ff;}
.sixth_f{background:#f0cb9a;}.sixth_f span{color:#f0cb9a}.sixth_c{border-top:1px solid #f0cb9a;}
.seventh_f{background:#57a2ff;}.seventh_f span{color:#57a2ff}.seventh_c{border-top:1px solid #57a2ff;}
.after-ad-txt{margin-bottom:5px;padding:12px 0px 12px 0px;}
.Exhibition-ul{margin-bottom:5px;}
.Exhibition-ul li{float:left;margin-right: 2px;}
.side-bar{position:fixed;width:34px;right:0;top:0;height:100%;background:rgba(0,0,0,0.7);}
.side-bar .side-bar-ul #li-user{background:url(../../images/Company/person.png)no-repeat center;width:34px;height:40px;background-size: 20px 25px;}
.after-ad-txt .after-ad-message li{width:100%;margin:0 auto;}
.after-ad-txt .after-ad-message li .index-dot-a{display:block;width:91%;margin:0 auto;font-size:14px;text-indent:12px;line-height:25px;background:url(../../images/Company/dot.png) no-repeat left center;overflow: hidden;text-overflow: ellipsis; color:#555555;}
.after-ad-txt .after-ad-message li .index-dot-a:hover{color:#0c95ff;}

.after-ad-txt .after-ad-message p{margin:0px 5px 13px;}
.after-ad-txt .after-ad-message #public-p{color:#e4a543;font-weight: bold;}
.after-ad-txt .after-ad-message a.point-message{float:left;width:48%;margin:10px 0 10px 10px;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#long-title{width:316px;color:#ca0002;}
#quotation{width:250px;background:url(../../images/Company/tag.png)no-repeat left center;padding-left:30px;line-height:30px;}
/*.point-message{color:#ca0002;margin:10px 0 10px 10px;}*/
#secondary-title{width:280px;font-size:12px;font-weight: normal;margin:0 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.after-ad-txt .after-ad-message li .long-title-a{width:80%;}
.after-ad-message li span{font-size:12px;float:right;display: block;line-height: 25px;}
.after-ad-txt .after-ad-message p img{float:left;}
.after-ad-txt .after-ad-message{background:#f7f7f9;padding-bottom:10px;border-bottom-left-radius:2px;border-bottom-right-radius: 2px;}
.after-ad-txt .after-ad-message .after-ad-message-title{width:100%;height:30px;line-height:30px;background:#e6d7d7;border-top-left-radius: 2px;border-top-right-radius: 2px;margin-bottom:10px;}
.after-ad-txt .after-ad-message .after-ad-message-title h2{text-indent: 1.6em; color:#bd0000;}
.after-ad-txt .after-ad-message .after-ad-message-title .more{display: block;float: right;padding-right:1.5em;color:#fff;}
.after-ad-txt .width_541{width:541px;float:left;} .width_460{width:460px;float:left;}
.width_670{width:670px;float:left;} .width_300{width:300px;float:left;height:auto;overflow: hidden;}
.width_237{width:237px;float:left;}
.width_237 li span{float:left;color:#bd0000;}
.width_237 img{margin:0 auto;}
.after-ad-txt .width_237 li .wealth-information{background:none;width:70%;text-indent: inherit;}
.after-ad-txt .reset_li li{width:100%;}
.after-ad-txt .reset_li li .after-ad-message-cols{float:left;width:170px;border-right:1px solid #eee;overflow: auto;padding:0 12px;}
.after-ad-txt .reset_li li:last-child .after-ad-message-cols{border:none;}
.after-ad-txt .width_670 li .after-ad-message-cols{width:196px;}
.after-ad-txt .width_670 .Exhibition{width:324px;float:left;margin-bottom:10px;margin-left:10px;}
.after-ad-txt .width_670  li a{background:none;}
.after-ad-txt .width_670 .Exhibition .Exhibition-p{width:102px;float:left;line-height: 30px;text-align: center;}
.after-ad-txt .width_670 .Exhibition .Exhibition-txt{width:202px;float:left;font-size:12px;line-height: 20px;margin-left: 10px;}
.after-ad-txt .width_670 .Exhibition  p{margin:0;padding:0;}
.after-ad-txt .width_670 .Exhibition .Exhibition-p .Exhibition-time-bg{background:#666;color:#fff;}
.after-ad-txt .width_670 .Exhibition .Exhibition-p #lastest-exhibition-time{background:#c30800;}
.after-ad-txt .width_670 .Exhibition .Exhibition-p .Exhibition-place-bg{background:#eee;}
.after-ad-txt .width_670 .Exhibition .Exhibition-p #lastest-exhibition-place{background:#fbfbe3;}
.width_202{width:202px;float:left;} .width_202 img{width:70%;margin:0 auto;}
.width_424{width:424px;float:left;}
.width_330{width:330px;float:left;}

.after-ad-txt .sevice-contract li a{background:none;width:77px;float:right;}
.sevice-contract{margin:0 auto;width:344px;line-height:36px;}
.sevice-contract li{border-bottom:1px solid #eee;}
.sevice-contract img{margin-top:7px;}
.after-ad-txt .float_methed p img{float:right;margin-right: 15px;}
.service_7999{border:1px solid #eee;margin-bottom:5px;font-size:12px;}
.service_7999 h2{background:#eee;width:100%;font-size:20px;line-height: 30px;text-indent: 10px;color:#bd0000;}
/*.service_7999 h2 span{float:right;font-size:12px;color:#555;}*/
.service_7999 p{line-height:25px;font-size:13px;padding:10px;text-indent: 2em;}
.service_7999 #friend-link{text-indent:inherit;}
.service_7999 p a{margin-right: 10px;display:inline-block;text-indent:0;}
.service_7999 p a:hover{font-weight:bold;}
.index-wrap .footer-bg{background:#ff5000;line-height:36px;width:100%;margin-top:15px;}
.index-wrap .footer-bg .footer-txt{width:1000px;margin:0 auto;font-size:12px;text-align: center;}
.index-wrap .footer-bg .footer-txt a{color:#fff;padding:0 10px;border-right: 1px solid #fff;}
.index-wrap .footer-bg .footer-txt a:last-child{border:none;}
.copyright{width:1000px;margin:0 auto;text-align: center;font-size:12px;margin-top:10px;line-height:20px;}
.copyright img{display:inline;}
#xc{border:none;margin-top:20px;}
#xc img{margin:0 auto;}
.imgMove{position:absolute;overflow:hidden;}
.imgMove img{position:relative;}
#scrollDiv{display:inline-block;overflow:hidden;height:54px;}

/*»Æ¹ûÃ×*/
.index-main-nav .hgm {position:relative;z-index:9999; height: 114px; background-color: #BD0000; display:none;}
.index-main-nav .hgm .hgmhgm li { width: 100%; text-align: center; position:relative;z-index:9999;}
.index-main-nav .hgm .hgmhgm a { line-height: 38px; background: inherit; text-align: center; position:relative;z-index:9999;}



.ding_zi > dt > a > img{width:100%;height:100%;display:inline-block;}

#divContianer{width:1101px;position:relative;padding-top:10px;}
#divContianer h2{position:absolute;width:46px; height:54px; background:#e6d7d7; color:#bd0000; font-size:20px; padding:5px 12px;left:1px;z-index:99;bottom:-1px;}

.service_7999 h2 span, .team_7999 h2 span { float: right; font-size: 12px; color: #555; }

.user-vipservice > li > a > span{display:inline-block;}
h2{color:#fff;font-size:16px;font-weight:normal}